.asbWrap{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:12px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 900;
}

.asbSearch{
  flex:1;
  display:flex;
  align-items:center;
  gap:12px;
  background:#fff;
  border-radius:14px;
  padding:10px 16px;
  box-shadow: var(--shadow);
  font-size: 14px;
}

.asbIcon{ opacity:.6; font-size:16px; }

.asbSearch input{
  width:100%;
  border:none;
  outline:none;
  font-size:14px;
  background: transparent;
  color:#000;
}

.asbSearch input::placeholder{
  color:#999;
}
